    body {
        background-color: lightskyblue;
    }

    #myLocation {
        grid-column-start: 1;
        grid-column-end:2;
    }

    #weatherInfo {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    #vacation {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    #frame {
        display: grid;
    }

    h1 {
        background-color: orange;
        font-family: "Times New Roman", Times, serif;
        color: white;
        height: 30px;
        font-size: 20px;
        font-weight: bold;
        float: left;
        width: 95%;
    }

    h2 {
        background-color: orange;
        font-family: "Times New Roman", Times, serif;
        color: white;
        height: 30px;
        font-size: 20px;
        font-weight: bold;
        float: left;
        width: 100%;
    }

    h3 {
        background-color: orange;
        font-family: "Times New Roman", Times, serif;
        color: white;
        height: 30px;
        font-size: 20px;
        font-weight: bold;
        float: left;
        width: 100%;
    }

    span {
        display: block;
        font-weight: normal;
    }

    p {
        font-weight: bold;
        float: left;
        clear: both;
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
    }

    table {
        table-layout: fixed;
        width: 100%;
        background-color: orange;
    }

    th {
        background-color: darkorange;
    }

    tr {
        table-layout: fixed;
    }

    tr:hover {
        background-color: white;
        border-spacing: 0px;
        cursor:pointer;
    }
    
    #countrytable{
        width:100%;
        min-width: 500px;
        overflow-x: auto;
    }
@media screen and (max-width: 700px) {


    #myLocation {
        grid-column-start: 1;
        grid-column-end:2;
    }

    #weatherInfo {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    #vacation {
        grid-column-start: 1;
        grid-column-end: 2;
    }

}
