    body {
        background-color: lightskyblue;
    }

    #formTable{
        background-color:white !important;
    }
    #formTable2{
        background-color: white !important;
    }
    input[type=submit] {
        background-color: deepskyblue;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
    }

    .firstColumn{
        width:150px;
    }

    #AddButton{
        float: right;
        padding: 8px;
        background-color:red;
    }
    #myLocation {
        grid-column-start: 1;
        grid-column-end:2;
    }

    #weatherInfo {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    #vacation {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    #frame {
        display: grid;
    }

    h1 {
        background-color: orange;
        font-family: "Times New Roman", Times, serif;
        color: white;
        height: 30px;
        font-size: 20px;
        font-weight: bold;
        float: left;
        width: 95%;
    }

    h2 {
        background-color: orange;
        font-family: "Times New Roman", Times, serif;
        color: white;
        height: 30px;
        font-size: 20px;
        font-weight: bold;
        float: left;
        width: 100%;
    }

    h3 {
        background-color: orange;
        font-family: "Times New Roman", Times, serif;
        color: white;
        height: 30px;
        font-size: 20px;
        font-weight: bold;
        float: left;
        width: 100%;
    }

    span {
        display: block;
        font-weight: normal;
    }

    p {
        font-weight: bold;
        float: left;
        clear: both;
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
    }

    table {
        table-layout: fixed;
        width: 100%;
        background-color: orange;
    }

    th {
        background-color: darkorange;
    }

    tr {
        table-layout: fixed;
    }

    tr:hover {
        background-color: white;
        border-spacing: 0px;
        cursor:pointer;
    }

    {
        padding: 10px 24px;
        background-color: lightskyblue;
    }
    
    #countrytable{
        width:100%;
        min-width: 500px;
        overflow-x: auto;
    }
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    .modal1 {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    .modal1 {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0, 0, 0); /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

    }
    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        min-height:420px;
    }
    .modal-content1 {
        background-color: #fefefe;
        margin: auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        min-height:420px;
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    .close1 {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }


    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
    .close1:hover,
    .close1:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    input {
        width: 270px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }
    input:focus{
        width: 100%;
    }

    label {
        font-weight: bold;
    }


    @media screen and (max-width: 700px) {


    #myLocation {
        grid-column-start: 1;
        grid-column-end:2;
    }

    #weatherInfo {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    #vacation {
        grid-column-start: 1;
        grid-column-end: 2;
    }

}
